[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
future = "*"


[dev-packages]
responses = "*"
mock = "*"

[requires]

python_version = "3.6"
